body {
    background-image: url(/Users/dvetter/Documents/edaAssignments/tier2/week1/weekend_jQuery_salary_calculator/img/ledgerIMG.jpg);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}

#allDiv {
    margin-top: 10vh;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

#bigHeading {
    text-align: center;
    text-shadow: 1px 1px 2px #f24c00, 0 0 1em #485696, 0 0 0.2em #fc7a1e;
    color: #e2e2e2;
    font-size: 4vw;
    background-color: black;
    margin: 0 auto;
    width: 80%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    padding: 1vh 1vw;
    box-shadow: 0 0 15px black;
}
#employeeTable {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}

#mainDiv {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    background-color: rgba(72, 86, 150, .8);
    padding: 1vh 1vw;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    box-shadow: 0 0 15px black;
}

#inputBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    float: right;
    justify-content: right;
    width: fit-content;
    height: max-content;
}

#addEmp {
    text-shadow: 1px 1px 2px #e2e2e2, 0 0 1em #485696, 0 0 0.2em #e2e2e2;
    font-size: 2vw;
}

#addEmp:hover {
    text-shadow: 1px 1px 2px #fc7a1e, 0 0 1em #485696, 0 0 0.2em #fc7a1e;
}

.inputs {
    background-color: #E2E2E2;
    width: 10vw;
    height: auto;
    border: 1px solid #fc7a1e;
    font-size: 1vw;
    box-shadow: 0 0 8px #000f08;
    margin-right: 3px;
    margin-left: 3px;
    border-radius: 7px;
    padding: 3px;
}

.inputs:hover {
    box-shadow: 0 0 8px #e2e2e2;
}

#submitBtn, #clearBtn {
    background-color: #f9c784;
    border: 1px solid #fc7a1e;
    margin-left: 3px;
    margin-right: 3px;
    width: 10vw;
    font-size: 1vw;
    box-shadow: 0 0 8px #000f08;
    border-radius: 7px;
    padding: 3px;

}

#submitBtn:hover {
    box-shadow: 0 0 8px white;
    background-color: #fc7a1e;
    border: 1px solid #000F08;
    color: #e2e2e2;
}

#clearBtn:hover {
    box-shadow: 0 0 8px white;
    background-color: #fc7a1e;
    border: 1px solid #000F08;
    color: #e2e2e2;
}

#inputError, #inputTypeError {
    color: #f24c00;
    font-size: 1.1vw;
    background-color: #f9c784;
    width: fit-content;
    border-radius: 7px;
    border: 2px solid #f24c00;
    padding: 3px 5px;
    box-shadow: 0 0 8px black;
}

#employeeHead {
    text-shadow: 1px 1px 2px #e2e2e2, 0 0 1em #485696, 0 0 0.2em #e2e2e2;
    font-size: 2vw;
}

#employeeHead:hover {
    text-shadow: 1px 1px 2px #fc7a1e, 0 0 1em #485696, 0 0 0.2em #fc7a1e;
}

#tableDiv {
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0 0 12px black;

}

#employeeTableBody {
    text-align: center;
    border-collapse: collapse;
}

#employeeTable {
    margin-bottom: 15px;
}

.footerDetail {
    background-color: #f9c784;
    border-collapse: collapse;
    height: fit-content;
}

th {
    border: 1px solid black;
    background-color: #f9c784;
    font-size: 1.4vw;
}

th:hover {
    box-shadow: 0 0 8px #fc7a1e;
}

td {
    border: 1px solid black;
    font-size: 1.1vw;
    width:max-content;
}

.deleteBtn {
    font-size: 1vw;
    padding: 4px;
    background-color: #485696;
    color: #e2e2e2;
    border: 1px solid black;
    border-radius: 7px;
}

tr {
    background-color: #E2E2E2;
}

tr:nth-child(even) {
    background-color: #fdfdfd;
}

#monthlyDisplay {
    float: right;
    width: fit-content;
    height: fit-content;
    color: #485696;
    padding-right: 1vw;
    margin-top: 5px;
    margin-bottom: 5px;
}
#tfoot {
    height: fit-content;
}